.card {
    width: 10rem;
    height: 15rem;
    display: inline-flex;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.025);
    border: 0px;
    margin-top: 30px;
}

.card-img-top {
    width: auto;
    height: 150px;

}

.card-header,
.card-footer {
    font-size: small;
    font-weight: 700;
    text-align: center;
    flex-wrap: wrap;

}